<div class="container">
  <h2 *ngIf="!edit">Registro de usuario</h2>
  <h2 *ngIf="edit">Acualizar mis datos</h2>
  <a [routerLink]="['/login']">Login</a>
  <form (ngSubmit)="edit ? updateUsuario() : saveUsuario()" #usuarioForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre</label><br>
      <input [(ngModel)]="usuario.nombre" type="text" class="form-control" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="apellido">Apellido</label><br>
      <input [(ngModel)]="usuario.apellido" type="text" class="form-control" name="apellido" required>
    </div>
    <div class="form-group">
      <label for="email">Email</label><br>
      <input [(ngModel)]="usuario.email" type="text" class="form-control" name="email" id="email" required>
    </div>
    <div class="form-group">
      <label for="pass">Password</label><br>
      <input [(ngModel)]="usuario.password" type="password" class="form-control" name="pass" required>
    </div>
    <div  class="form-group" *ngIf="!edit">
      <label for="uTipo">Tipo de usuario</label><br>
      <select [(ngModel)]="usuario.rol" class="form-control" name="uTipo" required>
        <option *ngFor="let t of uTipo" [value]="t">{{t}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-success" name="">Guardar</button>
    <button class="btn btn-danger" routerLink="/users/perfil">Cancelar</button>
  </form>
</div>
