<div class="container">

  <h2>Editar datos de Foodtruck</h2>
  <form (ngSubmit)="guardar()" #foodtruckForm="ngForm">
    <div class="form-group">
      <label for="nombre">Nombre</label><br>
      <input [(ngModel)]="foodtruck.nombre" type="text" class="form-control" name="nombre" required>
    </div>
    <div class="form-group">
      <label for="descripcion">Descripcion</label><br>
      <input [(ngModel)]="foodtruck.descripcion" type="text" class="form-control" name="descripcion" required>
    </div>
    <div class="form-group">
      <label for="url">URL</label><br>
      <input [(ngModel)]="foodtruck.url" type="text" class="form-control" name="url" id="url" required>
    </div>
    <div class="form-group">
      <label for="whatsapp">Whatsapp</label><br>
      <input [(ngModel)]="foodtruck.whatsapp" type="password" class="form-control" name="whatsapp" required>
    </div>
    <div class="form-group">
      <label for="instagram">Instagram</label><br>
      <input [(ngModel)]="foodtruck.instagram" type="instagram" class="form-control" name="instagram" required>
    </div>
    <div class="form-group">
      <label for="twitter">Twitter</label><br>
      <input [(ngModel)]="foodtruck.twitter" type="twitter" class="form-control" name="twitter" required>
    </div>
    <button type="submit" class="btn btn-success" name="">Guardar</button>
  </form>
</div>
